<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Spawn.Starfield.PluginsManager.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Spawn.Starfield.PluginsManager.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Spawn.Starfield.PluginsManager.AppSettings>
            <setting name="DataDirectory" serializeAs="String">
                <value />
            </setting>
        </Spawn.Starfield.PluginsManager.AppSettings>
    </userSettings>
    <applicationSettings>
        <Spawn.Starfield.PluginsManager.AppSettings>
            <setting name="DefaultPlugins" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>BlueprintShips-Starfield.esm</string>
                        <string>Constellation.esm</string>
                        <string>OldMars.esm</string>
                        <string>Starfield.esm</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DefaultArchives" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>BlueprintShips-Starfield - Localization.ba2</string>
                        <string>OldMars - Localization.ba2</string>
                        <string>OldMars - Textures.ba2</string>
                        <string>Starfield - Animations.ba2</string>
                        <string>Starfield - DensityMaps.ba2</string>
                        <string>Starfield - FaceAnimation01.ba2</string>
                        <string>Starfield - FaceAnimation02.ba2</string>
                        <string>Starfield - FaceAnimation03.ba2</string>
                        <string>Starfield - FaceAnimation04.ba2</string>
                        <string>Starfield - FaceAnimationPatch.ba2</string>
                        <string>Starfield - FaceMeshes.ba2</string>
                        <string>Starfield - GeneratedTextures.ba2</string>
                        <string>Starfield - Interface.ba2</string>
                        <string>Starfield - Localization.ba2</string>
                        <string>Starfield - LODMeshes.ba2</string>
                        <string>Starfield - LODMeshesPatch.ba2</string>
                        <string>Starfield - LODTextures.ba2</string>
                        <string>Starfield - Materials.ba2</string>
                        <string>Starfield - Meshes01.ba2</string>
                        <string>Starfield - Meshes02.ba2</string>
                        <string>Starfield - MeshesPatch.ba2</string>
                        <string>Starfield - Misc.ba2</string>
                        <string>Starfield - Particles.ba2</string>
                        <string>Starfield - ParticlesTestData.ba2</string>
                        <string>Starfield - PlanetData.ba2</string>
                        <string>Starfield - Shaders.ba2</string>
                        <string>Starfield - ShadersBeta.ba2</string>
                        <string>Starfield - Terrain01.ba2</string>
                        <string>Starfield - Terrain02.ba2</string>
                        <string>Starfield - Terrain03.ba2</string>
                        <string>Starfield - Terrain04.ba2</string>
                        <string>Starfield - Textures01.ba2</string>
                        <string>Starfield - Textures02.ba2</string>
                        <string>Starfield - Textures03.ba2</string>
                        <string>Starfield - Textures04.ba2</string>
                        <string>Starfield - Textures05.ba2</string>
                        <string>Starfield - Textures06.ba2</string>
                        <string>Starfield - Textures07.ba2</string>
                        <string>Starfield - Textures08.ba2</string>
                        <string>Starfield - Textures09.ba2</string>
                        <string>Starfield - Textures10.ba2</string>
                        <string>Starfield - Textures11.ba2</string>
                        <string>Starfield - TexturesPatch.ba2</string>
                        <string>Starfield - Voices01.ba2</string>
                        <string>Starfield - Voices02.ba2</string>
                        <string>Starfield - VoicesPatch.ba2</string>
                        <string>Starfield - WwiseSounds01.ba2</string>
                        <string>Starfield - WwiseSounds02.ba2</string>
                        <string>Starfield - WwiseSounds03.ba2</string>
                        <string>Starfield - WwiseSounds04.ba2</string>
                        <string>Starfield - WwiseSounds05.ba2</string>
                        <string>Starfield - WwiseSoundsPatch.ba2</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Spawn.Starfield.PluginsManager.AppSettings>
    </applicationSettings>
</configuration>